@media (min-width: 1440px) {
  #page {
    width: 1440px;
    margin: 0 auto;
  }
  section {
    width: 1440px;
    margin: 0 auto;
  }
}


@media (max-width: 1024px) {
  body {
      max-width: 100%;
      min-height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      color: #FAFAFA !important;
  }
}



@media (max-width: 1024px) {
  .bg_video {
    position: fixed;
    width: 100%;
    height: 80vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    opacity: 0.5;
}
  
  .bg_video video {
    width: auto;
    max-width: 100%; 
    max-height: 100%; 
    object-fit: cover; 
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    z-index: -1;
}
}



@media (max-width: 768px) {
  .bg_video {
    position: fixed;
    width: 200%;
    height: 100vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    opacity: 0.5;
}
  
  .bg_video video {
    width: auto;
    max-width: 100%; 
    max-height: 100%; 
    object-fit: cover; 
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    z-index: -1;
}

  
  .bg_video video {
      width: 100%; /* 모바일에서는 가득 차도록 */
      height: auto;
      object-fit: contain; /* 비율 유지하면서 맞춤 */
  }
}


@media (max-width: 480px) {
  .bg_video {
    position: fixed;
    width: 200%;
    height: 100vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    opacity: 0.5;
}
  
  .bg_video video {
    width: auto;
    max-width: 100%; 
    max-height: 100%; 
    object-fit: cover; 
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    z-index: -1;
}

  
  .bg_video video {
      width: 100%; /* 모바일에서는 가득 차도록 */
      height: auto;
      object-fit: contain; /* 비율 유지하면서 맞춤 */
  }
}

@media (max-width: 1024px) {
  #page {
    padding-top: 60px;
}
}


@media (max-width: 1024px) {
  .title1 {
    font-size: 16px;
  }
  .title2 {
    font-size: 42px;
  }
  .title3 {
    font-size: 34px;
  }
  .title4 {
    font-size: 16px;
  }
  .title5 {
    font-size: 18px;
  }

  .content1 {
    font-size: 16px;
  }
  .Content2 {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .title1 {
    font-size: 14px;
  }
  .title2 {
    font-size: 34px;
  }
  .title3 {
    font-size: 24px;
  }
  .title4 {
    font-size: 14px;
  }
  .title5 {
    font-size: 16px;
  }
  
  .content1 {
    font-size: 14px;
  }
  .Content2 {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .title1 {
    font-size: 12px;
  }
  .title2 {
    font-size: 28px;
  }
  .title3 {
    font-size: 18px;
  }
  .title4 {
    font-size: 12px;
  }
  .title5 {
    font-size: 14px;
  }
  
  .content1 {
    font-size: 10px;
  }
  .content2 {
    font-size: 10px;
  }
}







@media (max-width: 1024px) {
  section {
    max-width: 100%;
    width: 100%;
    min-height: 100%;
}
}
@media (max-width: 768px) {
  section {
    max-width: 100%;
    width: 100%;
    min-height: 100%;
}
}
@media (max-width: 480px) {
  section {
    max-width: 100%;
    width: 100%;
    min-height: 100%;
}
}




@media (max-width: 1024px) {
  #sec01 .sec01_con {
    max-width: 100%;
    width: 100%;
  }
  #sec01 .sec01_con .text-container {
    max-width: 100%;
    width: 100%;
  }
  #sec01 .sec01_con .contact {
    width: 100%;
  }
  #sec01 .sec01_con .contact img {
    width: 180px;
    height: auto;
  }
}

@media (max-width: 768px) {
  #sec01 .sec01_con {
    width: 100%;
  }
  #sec01 .sec01_con .text-container {
    width: 100%;
  }
  #sec01 .sec01_con .contact {
    width: 100%;
  }
  #sec01 .sec01_con .contact img {
    width: 150px;
    height: auto;
  }
}

@media (max-width: 480px) {
  #sec01 {
    padding: 220px 20px 220px 20px;
}

}







@media (max-width: 1024px) {
  #sec02 .sec02_con {
    max-width: 100%;
    width: 100%;
  }
  #sec02 .sec02_con .text-container_01 {
    max-width: 100%;
    width: 100%;
  }
  #sec02 .sec02_con .content_container {
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 70px;
  }
  #sec02 .sec02_con .content_container .img-container{
    align-items: center;
    width: 100%;
  }
  #sec02 .sec02_con .content_container .img-container .M_UI {
    transform: translateX(30vw) translateY(8vh);
  }
  #sec02 .sec02_con .content_container .img-container .M_UI img{
    max-width: 90%;
  }
  #sec02 .sec02_con .content_container .text-container_02 {
    width: 100%;
    max-width: 100%;
    text-align: left;
  }
  #sec02 .sec02_con .content_container .text-container_02 .content01 {
    margin-bottom: 20px;
  }
}

@media (max-width: 768px){
  #sec02 .sec02_con {
    max-width: 100%;
    width: 100%;
  }
  #sec02 .sec02_con .text-container_01 {
    max-width: 100%;
    width: 100%;
  }
  #sec02 .sec02_con .content_container {
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 70px;
  }
  #sec02 .sec02_con .content_container .img-container{
    align-items: center;
    width: 90%;
  }
  #sec02 .sec02_con .content_container .img-container .M_UI {
    transform: translateX(30vw) translateY(8vh);
  }
  #sec02 .sec02_con .content_container .img-container .M_UI img{
    max-width: 75%;
  }
  #sec02 .sec02_con .content_container .text-container_02 {
    width: 100%;
    width: 100%;
    max-width: 100%;
    text-align: left;
  }
  #sec02 .sec02_con .content_container .text-container_02 .content01 {
    margin-bottom: 20px;
  }
}

@media (max-width: 700px) {
  #sec02 .sec02_con .content_container .img-container{
    align-items: center;
    width: 90%;
  }
  #sec02 .sec02_con .content_container .img-container .M_UI {
    width: 150px;
    transform: translateX(30vw) translateY(7vh);
  }
  #sec02 .sec02_con .content_container .img-container .M_UI img{
    max-width: 100%;
  }
}

@media (max-width: 560px) {
  #sec02 .sec02_con .content_container .img-container{
    align-items: center;
    width: 90%;
  }
  #sec02 .sec02_con .content_container .img-container .M_UI {
    width: 120px;
    transform: translateX(30vw) translateY(7vh);
  }
  #sec02 .sec02_con .content_container .img-container .M_UI img{
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  #sec02 {
    padding: 60px 20px 60px 20px;
  }
  #sec02 .sec02_con {
    max-width: 100%;
    width: 100%;
  }
  #sec02 .sec02_con .text-container_01 {
    max-width: 100%;
    width: 100%;
  }
  #sec02 .sec02_con .content_container {
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 50px;
  }
  #sec02 .sec02_con .content_container .img-container{
    align-items: center;
    width: 90%;
  }
  #sec02 .sec02_con .content_container .img-container .M_UI {
    width: 90px;
    transform: translateX(30vw) translateY(8vh);
  }
  #sec02 .sec02_con .content_container .img-container .M_UI img {
    max-width: 100%;
  }
  #sec02 .sec02_con .content_container .text-container_02 {
    width: 100%;
    width: 100%;
    max-width: 100%;
    text-align: left;
  }
  #sec02 .sec02_con .content_container .text-container_02 .content01 {
    margin-bottom: 20px;
  }
}






@media (max-width: 1024px) {
  #sec03 .sec03_con {
    max-width: 100%;
    width: 100%;
  }

  #sec03 .img-container {
    max-width: 100%;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  #sec03 .sec03_con .img-container .img-common {
    width: 350px;
    height: 600px;
  }
  #sec03 .sec03_con .img-container .img-common img:first-child {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
  }
  #sec03 .sec03_con .img-container .img-common img:nth-child(3) {
    width: 80%;
    height: auto;
    margin: 30px 0 20px 0;
  }
}

@media (max-width: 768px) {
  #sec03 .sec03_con {
    max-width: 100%;
    width: 100%;
  }

  #sec03 .img-container {
    max-width: 100%;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  #sec03 .sec03_con .img-container .img-common {
    width: 350px;
    height: 600px;
  }
  #sec03 .sec03_con .img-container .img-common img:first-child {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
  }
  #sec03 .sec03_con .img-container .img-common img:nth-child(3) {
    width: 80%;
    height: auto;
    margin: 30px 0 20px 0;
  }
}


@media (max-width: 480px) {
  #sec03 {
    padding: 30px 15px;
    min-height: auto; 
  }

  #sec03 .sec03_con {
    max-width: 100%;
    width: 100%;
    min-height: auto;
  }

  #sec03 .img-container {
    max-width: 100%;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 10px 0;
  }

  #sec03 .sec03_con .img-container .img-common {
    width: 90%;
    height: auto;
    padding: 5px;
  }
  #sec03 .sec03_con .img-container .img-common .title5 {
    padding-top: 10px;
  }
  #sec03 .sec03_con .img-container .img-common img:nth-child(3) {
      width: 70%;
      height: auto;
      margin: 20px 0 20px 0;
      z-index: 3;
  }
  #sec03 .sec03_con .img-container .img-common .content1 {
    padding: 10px;
    width: 248px;
    height: auto;
  }
}







@media (max-width: 1024px) {
  #sec04 .sec04_con {
    max-width: 100%;
    width: 100%;
  }
  .bg_gs1 {
    display: none;
  }
  #sec04 .sec04_con {
    max-width: 100%;
    width: 100%;
    height: auto;
    flex-direction: column;
    text-align: center;
  }
  
  #sec04 .sec04_con .text-container_02 {
    width: 100%;
  }
    #sec04 .img-container {
  grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  #sec04 .sec04_con {
    max-width: 100%;
    width: 100%;
  }
  #sec04 .sec04_con {
    max-width: 100%;
    width: 100%;
  }
  #sec04 .sec04_con .text-container_02 {
    width: 100%;
  }
  .set-container01, .set-container02, .set-container03,
  .set-container04, .set-container05, .set-container06 {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center; 
      justify-content: center;
      padding: 20px;
      width: 100%;
      min-height: 250px;
      text-align: center;
      border-radius: 20px;
  }

}

@media (max-width: 480px) {
  #sec04 {
    padding: 60px 20px 60px 20px;
}
  #sec04 .sec04_con {
    max-width: 100%;
    width: 480px;
  }
  #sec04 .sec04_con {
    max-width: 100%;
    width: 400px;
  }
  #sec04 .sec04_con .text-container_02 {
    width: 100%;
  }
  #sec04 .sec04_con .img-container {
    gap: 20px;
  }
  #sec04 .sec04_con .img-container .column-left, 
  #sec04 .sec04_con .img-container .column-right {
    width: 50%;
    gap: 30px;

  }
  .set-container01, .set-container02, .set-container03,
  .set-container04, .set-container05, .set-container06 {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center; 
      justify-content: center;
      padding: 10px;
      width: 100%;
      min-height: 200px;
      text-align: center;
      border-radius: 20px;
  }
  #sec04 .sec04_con .learn_more01 img {
    width: 120px;
  }
  }




  @media (max-width: 1024px) {
    #sec05 {
      max-width: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 60px 20px;
    }
  
    #sec05 .sec05_con {
      max-width: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    #sec05 .sec05_con .text-container {
      max-width: 100%;
      width: 100%;
      margin: 40px 0;
      text-align: left;
      word-wrap: break-word;
    }
  
    #sec05 .sec05_con .img-container {
      max-width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
      justify-content: left;
      align-items: left;
    }
  
    #sec05 .sec05_con .set-container01,
    #sec05 .sec05_con .set-container02,
    #sec05 .sec05_con .set-container03,
    #sec05 .sec05_con .set-container04 {
      width: 100%;
      max-width: 100%;
      min-height: 280px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: left;
    }
  
    #sec05 .sec05_con .set-container02 img:nth-child(2),
    #sec05 .sec05_con .set-container03 img:nth-child(2),
    #sec05 .sec05_con .set-container04 img:nth-child(2) {
      max-width: 110px;
      height: auto;
      margin-bottom: 30px;
    }
    #sec05 .sec05_con .set-container01 img:nth-child(2){
      max-width: 160px;
      height: 110px;
    }
  
    #sec05 .sec05_con .learn_more02 {
      display: flex;
      justify-content: flex-end;
      align-self: flex-end;
      width: 100%;
      max-width: 100%;
      padding-right: 40px;
    }
  
    #sec05 .sec05_con .learn_more02 img {
      width: 150px;
    }
  }
  
  @media (max-width: 768px) {
    #sec05 .sec05_con {
      max-width: 100%;
    }
    #sec05 .sec05_con .set-container02 img:nth-child(2),
    #sec05 .sec05_con .set-container03 img:nth-child(2),
    #sec05 .sec05_con .set-container04 img:nth-child(2) {
      max-width: 90px;
      height: auto;
      margin-bottom: 20px;
    }
    #sec05 .sec05_con .set-container01 img:nth-child(2){
      max-width: 130px;
      max-height: 90px;
      margin-bottom: 20px;
    }
  }
  
  @media (max-width: 480px) {
    #sec05 .sec05_con {
      max-width: 100%;
      width: 100%;
    }
  
    #sec05 .sec05_con .img-container {
      width: 100%;
      gap: 15px;
    }
  
    #sec05 .sec05_con .set-container01,
    #sec05 .sec05_con .set-container02,
    #sec05 .sec05_con .set-container03,
    #sec05 .sec05_con .set-container04 {
      width: 100%;
      max-width: 100%;
      min-height: 240px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: left;
    }

    #sec05 .sec05_con .set-container01 img:nth-child(2){
      max-width: 100px;
      max-height: 70px;
      margin: 20px 0 20px 0px;
    }

    #sec05 .sec05_con .set-container02 img:nth-child(2),
    #sec05 .sec05_con .set-container03 img:nth-child(2),
    #sec05 .sec05_con .set-container04 img:nth-child(2) {
      max-width: 70px;
      margin: 20px 0 20px 0px;
    }
  
    #sec05 .sec05_con .learn_more02 {
      padding-right: 40px;
    }
  
    #sec05 .sec05_con [class^="set-container"] .content1 {
      font-size: 10px;
    }
  
    #sec05 .sec05_con .learn_more02 img {
      width: 120px;
    }
  }
  








@media (max-width: 1024px) {
  #sec06 {
    width: 100%;
    min-height: 60%;
    padding: 100px 40px 100px 40px;
  }
  #sec06 .text-container {
    width: 100%;
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  #sec06 {
    width: 100%;
    min-height: 60%;
  }
  #sec06 .text-container {
    width: 100%;
    margin-bottom: 30px;
  }
}

@media (max-width: 480px) {
  #sec06 {
    width: 100%;
    min-height: 60%;
    padding: 60px 20px 60px 20px;
  }
  #sec06 .text-container {
    width: 100%;
    margin-bottom: 30px;
  }
  #sec06 .img-container img {
    max-width: 50%;
    min-height: auto;
}
}