body {
    font-family: 'KoreanFont', sans-serif;
}

/* 영문 전용 폰트 */
.en-text {
    font-family: 'Synthese', sans-serif;
}

/* 한글 전용 폰트 */
.ko-text {
    font-family: 'KoreanFont', sans-serif;
}

/* 자동으로 한글과 영어를 구분 적용 */
@font-face {
    font-family: 'AutoFont';
    src: local('Pretendard'), local('Synthese'), sans-serif;
    unicode-range: U+AC00-D7A3, U+1100-11FF; /* 한글 영역 */
}

@font-face {
    font-family: 'AutoFont';
    src: local('Synthese'), local('Pretendard'), sans-serif;
    unicode-range: U+0020-007F, U+00A0-00FF; /* 영어 및 일부 특수 문자 */
}




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


a, abbr, address, article, aside, audio, b, blockquote, body, button, canvas, caption, cite, code, dd, del, details, dfn, div, dl, dt, em, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, input, ins, kbd, label, legend, li, main, mark, menu, nav, object, ol, p, pre, q, samp, section, select, small, span, strong, sub, summary, sup, table, tbody, td, textarea, tfoot, th, thead, time, tr, ul, var, video {
    border: 0;
    font-family: 'AutoFont', sans-serif;
    line-height: 1.5;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    box-sizing: border-box;
    color: #ffffff;
    transition: .3s cubic-bezier(.4,.4,0,1);
    word-spacing: 1px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    -webkit-font-smoothing: antialiased;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    background-color: #121212 !important;
    color: #FAFAFA;
}


body {
    width: 100%;
    min-height: 100%;
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-x: hidden;
    box-sizing: border-box;
    margin: 0 auto;
}



.bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
}

.bg_video {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

.bg_video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}





#page {
    width: 100%;
    min-height: 100%;
    flex-grow: 1;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



.title1, .title2, .title3, .title4, .title5 {
    font-family: 'Synthese', 'KoreanFont', sans-serif;
    text-transform: none;
    color: #FAFAFA;
}
.en-text {
    font-family: 'Synthese', sans-serif;
}

.ko-text {
    font-family: 'KoreanFont', sans-serif;
}

.title1 {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    z-index: 3;
}

.title2 {
    font-size: 52px;
    font-weight: 700;
    line-height: 1.5;
    z-index: 3;
}

.title3 {
    font-size: 42px;
    font-weight: 700;
    line-height: 1.7;
    z-index: 3;
}

.title4 {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.7;
    z-index: 3;
}

.title5 {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.5;
    z-index: 3;
}


.content1 {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    z-index: 3;
}

.Content2 {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    z-index: 3;
}


.text-container {
    display: flex;
    flex-direction: column;
    text-align: left;
    z-index: 3;
    max-width: 80%;
    transition: font-size 0.3s ease-out;
}



section {
    width: 100%;
    min-height: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform-origin: center center;
    transition: transform 0.3s ease-out;
}




#sec01 {
    align-content: left;
    align-items: left;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    height: auto;
    justify-content: flex-start;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 320px 40px 320px 40px;
    width: 100%;
    max-width: 100%;
}

#sec01 .sec01_con .text-container {
    align-content: left;
    align-items: left;

    text-align: left;
    z-index: 2;

    align-content: flex-end;
    align-items: flex-start;
    flex: none;
    flex-direction: column;
    justify-content: left;
    padding: 0px;

    max-width: 100%;
}

#sec01 .sec01_con .text-container .title5{
    margin-top: 50px;
}

#sec01 .sec01_con .contact {
    /* width: 1024px; */
    max-width: 100%;
    flex: none;
    height: auto;
    letter-spacing: -0.05em;
    margin: 100px 0px 0px 0px;
    width: auto;
    max-width: 100%;
    justify-content: flex-end;
}







#sec02 {
    align-content: left;
    align-items: left;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    height: auto;
    justify-content: flex-start;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 200px 40px 200px 40px;
    width: 100%;
    max-width: 1440px;
}


#sec02 .sec02_con .text-container_01{
    text-align: left;
    z-index: 2;
    align-content: flex-end;
    align-items: flex-start;
    flex: none;
    flex-direction: column;
    justify-content: left;
    padding: 0px;
    width: 100%;
}
#sec02 .sec02_con .title2 {
    margin-bottom: 20px;
}

#sec02 .sec02_con .title4 {
    margin-bottom: 40px;
}


#sec02 .sec02_con .content_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

#sec02 .sec02_con .content_container .img-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    width: 60%;
}

#sec02 .sec02_con .content_container .img-container .W_UI img,
#sec02 .sec02_con .content_container .img-container .M_UI img {
    max-width: 100%;
    height: auto;
    display: block;
}
#sec02 .sec02_con .content_container .img-container .W_UI {
    position: relative;
    z-index: 1;
}
#sec02 .sec02_con .content_container .img-container .M_UI {
    position: absolute;
    z-index: 2;
    transform: translateX(8vw) translateY(8vh); 
}



#sec02 .sec02_con .content_container .text-container_02 {
    width: 40%;
    text-align: left;
}
#sec02 .sec02_con .content_container .text-container_02 .content01 {
    margin-bottom: 30px;
}
#sec02 .sec02_con .content_container .text-container_02 .content01,
#sec02 .sec02_con .content_container .text-container_02 .content02 {
    display: flex;
    align-items: center;
    gap: 15px;
    align-items: flex-start;
}
#sec02 .sec02_con .content_container .text-container_02 .content01 img,
#sec02 .sec02_con .content_container .text-container_02 .content02 img {
    width: 10px;
    height: auto;
    margin-top: 10px;
}




#sec03 {
    align-content: center;
    align-items: center;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    height: auto;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 200px 40px 200px 40px;
    width: 100%;
    max-width: 1440px;
}


#sec03 .sec03_con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

#sec03 .sec03_con .text-container_01 .title {
    max-width: 100%;
    width: 100%;
    text-align: center;
}

#sec03 .sec03_con .img-container{
    max-width: 100%;
    width: 100%;
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
}
#sec03 .sec03_con .img-container .img-common {
    position: relative;
    width: 33%;
    height: 700px;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    text-align: center;
    overflow: hidden;
    border-radius: 20px;
}

#sec03 .sec03_con .img-container .img-common img:first-child {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
}

#sec03 .sec03_con .img-container .img-common:nth-child(2) .content01 {
    margin-top: 30px; 
}

#sec03 .sec03_con .img-container .img-common img:nth-child(3) {
    width: 80%;
    height: auto;
    margin: 40px 0 30px 0;
    z-index: 3;
}

#sec03 .sec03_con .img-container .img-common .content1 {
    max-width: 90%;
    z-index: 3;
    margin: 0 20px;
}







#sec04 {
    align-content: center;
    align-items: center;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    height: auto;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 200px 40px 200px 40px;
    width: 100%;
    max-width: 1440px;
}

.bg_gs1 {
    position: absolute;
    width: 80%;
    right: 0;
    height: auto;
    overflow: hidden;
    display: flex;
    align-items: right;
    z-index: -1;
    opacity: 0.3;
}

.bg_gs1 img {
    width: 100%;
    height: 100%;
    pointer-events: none;
    margin-top: 400px;
}


#sec04 .sec04_con {
    max-width: 100%;
    width: 100%;
    min-height: auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "title title"
        "text text"
        "img img"
        ". button";
    gap: 50px;
}

#sec04 .sec04_con .text-container_01 {
    grid-area: title;
    text-align: center;
}

#sec04 .sec04_con .text-container_02 {
    grid-area: text;
    text-align: left;
    justify-self: start; 
}

#sec04 .sec04_con .title3 {
    margin-bottom: 30px;
}

#sec04 .sec04_con .img-container {
    grid-area: img;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40px;
}

#sec04 .sec04_con .img-container .column-left, 
#sec04 .sec04_con .img-container.column-right {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.column-right {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.set-container01, .set-container02, .set-container03,
.set-container04, .set-container05, .set-container06 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    padding: 20px;
    width: 100%;
    max-width: 400px;
    min-height: 265px;
    text-align: center;
    border-radius: 20px;
    overflow: hidden;
}
.set-container01 img, .set-container02 img, .set-container03 img,
.set-container04 img, .set-container05 img, .set-container06 img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

#sec04 .sec04_con .img-container .title5 {
    position: relative;
    color: #2FB0DB;
    margin-bottom: 20px;
    z-index: 2;
}

#sec04 .sec04_con .img-container .content1 {
    position: relative;
    z-index: 2;
}

.learn_more01 {
    grid-area: button;
    justify-self: end;
}





#sec05 {
    align-content: center;
    align-items: center;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    height: auto;
    justify-content: flex-start;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 40px 40px 40px 40px;
    width: 100%;
    max-width: 1440px;
}
#sec05 .sec05_con {
    width: 100%;
    min-height: auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "text text"
        "img img"
        ". button";
    gap: 30px;
}

#sec05 .sec05_con .text-container {
    grid-area: text;
    text-align: left;
    width: 80%;
    max-width: 80%;
    justify-self: start;
    margin: 50px 0;
}

#sec05 .sec05_con .title3 {
    margin-bottom: 30px;
}

#sec05 .sec05_con .img-container {
    width: 100%;
    grid-area: img;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    gap: 50px;
    justify-self: left;
    opacity: 0;
    transform: translateX(300px);
}

#sec05 .sec05_con .set-container01,
#sec05 .sec05_con .set-container02,
#sec05 .sec05_con .set-container03,
#sec05 .sec05_con .set-container04 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start; 
    flex-direction: column;
    padding: 20px;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
}

#sec05 .sec05_con .set-container01 img:first-child,
#sec05 .sec05_con .set-container02 img:first-child,
#sec05 .sec05_con .set-container03 img:first-child,
#sec05 .sec05_con .set-container04 img:first-child {
    position: absolute;
    max-width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

#sec05 .sec05_con .set-container01 img:nth-child(2),
#sec05 .sec05_con .set-container02 img:nth-child(2),
#sec05 .sec05_con .set-container03 img:nth-child(2),
#sec05 .sec05_con .set-container04 img:nth-child(2) {
    width: 134px;
    height: 134px;
    position: relative;
    z-index: 2;
    margin: 30px 0 30px 10px;
}

#sec05 .sec05_con .set-container01 img:nth-child(2){
    width: 100%;
    max-width: 200px;
    height: 134px;
}

#sec05 .sec05_con [class^="set-container"] .title5 {
    position: relative;
    z-index: 2;
    margin-bottom: 10px;
    margin: 0px 10px;
}

#sec05 .sec05_con [class^="set-container"] .content1 {
    position: relative;
    z-index: 2;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    margin: 20px 10px;
}

#sec05 .sec05_con .learn_more02 {
    grid-area: button;
    justify-self: end;
}






#sec06 {
    align-content: center;
    align-items: center;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    height: auto;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 100px 40px 200px 40px;
    width: 100%;
    max-width: 100%;
    min-height: 60%;
}

#sec06 .text-container {
    max-width: 1024px;
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 100px;
}

#sec06 .text-container .title2 {
    margin-bottom: 30px;
}

/* 🔹 이미지 컨테이너 */
#sec06 .img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

#sec06 .img-container img {
    max-width: 100%;
    min-height: auto;
}







